CODE_SIGN_STYLE = Automatic
INFOPLIST_FILE = Configuration/TargetTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.objectalchemist.OOUIKitTests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 4.0
TARGETED_DEVICE_FAMILY = 1,2
